#infopanel { position: absolute; left: 0px; margin: 0px; width: 100%; height: 50px; background-color: #333; }

#infopanel h1 { color: white; font-weight: 300; margin: 10px; font-size: 18px; }
#infopanel p {width: 80%; margin-left: 10%; margin-top: 5px; text-align: left; font-size: 16px; color: #FA0; text-shadow: 1px 1px 0px black; }
#infopanel p.big { font-size: 38px; margin-bottom: 0px; }
#infopanel p b { color: yellow; }
#infopanel .controls > a.button { float: right; width: 40px; margin-top: 7px; margin-right: 10px; text-align: center; font-size: 12px;}
#infopanel .controls { float: right; }

#infopanel div.menu { 

	background-color: white; 
	
	width: 110px; 
	height: 44px;
	margin: 3px;
	
	padding: 0px; 
	float: left; 
	margin-left: 10px; 
	border-radius: 5px; 
}

#infopanel div.menu h1 { 
	color: #333; 
	text-shadow: 1px 1px 0px #AAA; 
	border-bottom: 1px solid black;
	
	padding: 5px;  
	margin: 5px;
	float: left;  
}

#infopanel div.menu p.description { color: #333; text-shadow: 1px 1px 0px white; }





#gamepanel { position: absolute; left: 0%; margin: 0px; margin-top: 50px; width: 100%; height: 80%;}


.tablero { position: absolute; }
.hide { display:none; }

.turno .background { position:absolute; width: 80%; margin-left: 10%; margin-top: 6%;height: 80%; background-color: red; opacity: 0.6; border-radius: 10px; z-index: -1;}
.espera .background { position:absolute; width: 80%;margin-left: 10%; margin-top: 6%; height: 80%; background-color: green; opacity: 0.6; border-radius: 10px; z-index: -1; }
