{% extends 'CoreGameBundle::bootstrap.html.twig' %}

{% block body %}     
{% include 'CoreGameBundle:Game:menu.html.twig' %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1">
		&nbsp;
		</div>
		<div class="span10">
		<h1 class="pull-left" style="color: white; text-shadow: 1px 1px 0px #black; ">Partidas en curso</h1>
		<a class="btn btn-danger pull-right btn-large" href="{{ path('game') }}">Volver</a>
		<div style="clear:both"></div>
		<br>
<ul class="games">
	{% for game in games %}
	<li><div class="row-fluid">
		<div class="span3">
			<b>{{ game.owner.username }}</b>
		</div>
		<div class="span3">
			<b>{{ game.player.username }}</b>
		</div>
		<div class="span3">
		<a href="{{ path('game_play',{'game':game.id}) }}" class="btn btn-success pull-right">Continuar</a>
		</div>
	</div></li>
	{% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}